
@model AppNov14.Models.SearchModel

@{
    ViewData["Title"] = "Поиск";
}


<h1 class="text-center">Поиск по таблице поступления сырья на склад</h1>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.js"></script>
<link href="~/jquery-ui.css" rel="stylesheet" />

<form asp-action="SerachInIncomingOrder">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="DateStart" class="control-label">От</label>
            <input asp-for="DateStart" type="date"
                   min="2010-01-01" max="2050-12-31" class="form-control" />
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="DateFinish" class="control-label">До</label>
            <input asp-for="DateFinish" type="date" 
                   min="2010-01-01" max="2050-12-31" class="form-control" />
            <span asp-validation-for="DateFinish" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="TypeOfMaterial" class="control-label">Тип материала</label>
            <select asp-for="TypeOfMaterial" class="form-control" asp-items="@(new SelectList(Model.listyType, "Value", "Text"))"></select>
            <span asp-validation-for="TypeOfMaterial" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="NameOfTypeMaterial" class="control-label">Наименование типа материала</label>
            <select asp-for="NameOfTypeMaterial" class="form-control" asp-items="@(new SelectList(Model.listyNameType, "Value", "Text"))"></select>
            <span asp-validation-for="NameOfTypeMaterial" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Provider" class="control-label">Поставщик</label>
            <select asp-for="Provider" class="form-control" asp-items="@(new SelectList(Model.listyProvider, "Value", "Text"))"></select>
            <span asp-validation-for="Provider" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Manufacturer" class="control-label">Производитель</label>
            <select asp-for="Manufacturer" class="form-control" asp-items="@(new SelectList(Model.listyManufacturer, "Value", "Text"))"></select>
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="NumberOfDocument" class="control-label">Номер документа</label>
            <select asp-for="NumberOfDocument" class="form-control" asp-items="@(new SelectList(Model.listyParties, "Value", "Text"))"></select>
            <span asp-validation-for="NumberOfDocument" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Indexation" class="control-label">Паспорт</label>
            <input asp-for="Indexation" class="form-control" />
            <span asp-validation-for="Indexation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <input type="submit" value="Найти" class="btn btn-primary">
        </div>
        <div class="form-group col-md-1">
            <a class="btn btn-outline-secondary" asp-controller="MainTableDB" asp-action="Index">Назад</a>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (Model.listil.Rows.Count == 0)
{
    <div class="is-invalid">
        <h3 class="text-center">Записей нет</h3>
    </div>
}
else
{
    <table align="center" class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>
                    #Id
                </th>
                <th>
                    Тип материала
                </th>
                <th>
                    Наименование типа материала
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Остатки
                </th>
                <th>
                    Поставщик
                </th>
                <th>
                    Производитель
                </th>
                <th>
                    Номер документа
                </th>
                <th>
                    Паспорт
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Имя сотрудника
                </th>
                <th>
                    Авто дата
                </th>
                <th>
                    Примечание
                </th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.listil.Rows.Count; i++)

            {
                <tr>
                    <td>
                        @Model.listil.Rows[i]["Id"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["TypeOfMaterial"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["NameOfTypeMaterial"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Quantity"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Leftovers"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Provider"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Manufacturer"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["NumberOfDocument"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Indexation"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["DocDate"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Employee"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["AutoDate"]
                    </td>
                    <td>
                        @Model.listil.Rows[i]["Remarks"]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>

    $(function () {

            $("#TypeOfMaterial").change(function () {
                if ($(this).val() == "0") {
                    $("#TypeOfMaterial").prop('disabled', true);
                    $("#TypeOfMaterial").val("0");
                }
                else {
                    $.getJSON("/Search/GetNameTypesSearchJson", { type: $("#TypeOfMaterial").val() }, function (d) {
                        $("#NameOfTypeMaterial").prop('disabled', false);
                        $("#NameOfTypeMaterial").empty();
                        $("#NameOfTypeMaterial").append($('<option/>', { value: '@null', text: '--Не выбрано--' }));
                        $.each(d, function (i, v) {
                            $("#NameOfTypeMaterial").append($('<option/>', { value: v.value, text: v.value }));
                        });
    
                    })
                }

            })


    })

    @*$(function () {
        $("#NameOfTypeMaterial").change(function () {
            if ($(this).val() == "0") {
                $("#NameOfTypeMaterial").prop('disabled', true);
                $("#NameOfTypeMaterial").val("0");
            }
            else {
                $.getJSON("/MainTableDB/GetProvider", { type: $("#TypeOfMaterial").val(), typename: $("#NameOfTypeMaterial").val() }, function (d) {
                    $("#Provider").prop('disabled', false);
                    $("#Provider").empty();
                    $("#Provider").append($('<option/>', { value: '@null', text: '--Не выбрано--' }));
                    $.each(d, function (i, v) {
                        $("#Provider").append($('<option/>', { value: v.value, text: v.value }));
                    });
                    $("#Manufacturer").empty();
                })
            }

        })
    })*@

    @*$(function () {
        $("#Provider").change(function () {
            if ($(this).val() == "0") {
                $("#Provider").prop('disabled', true);
                $("#Provider").val("0");
            }
            else {
                $.getJSON("/MainTableDB/GetManufacturer", { type: $("#TypeOfMaterial").val(), typename: $("#NameOfTypeMaterial").val(), provider: $("#Provider").val() }, function (d) {
                    $("#Manufacturer").prop('disabled', false);
                    $("#Manufacturer").empty();
                    $("#Manufacturer").append($('<option/>', { value: '@null', text: '--Не выбрано--' }));
                    $.each(d, function (i, v) {
                        $("#Manufacturer").append($('<option/>', { value: v.value, text: v.value }));
                    });
                })
            }

        })
    })*@
    @*$(function () {
        $("#Manufacturer").change(function () {
            if ($(this).val() == "0") {
                $("#Manufacturer").prop('disabled', true);
                $("#Manufacturer").val("0");
            }
            else {
                $.getJSON("/Search/GetProviderSearchJson", { type: $("#TypeOfMaterial").val(), typename: $("#NameOfTypeMaterial").val(), manufacturer: $("#Manufacturer").val() }, function (d) {
                    $("#Provider").prop('disabled', false);
                    if ($("#TypeOfMaterial").val() == null) {
                        $("#Provider").empty();
                        $("#TypeOfMaterial").empty();
                        $("#NameOfTypeMaterial").empty();
                    }

                    if ($("#Manufacturer").val() == null) {
                        $("#Provider").empty();
                    }
                                     

                    $("#Provider").append($('<option/>', { value: '@null', text: '--Не выбрано--' }));
                    $.each(d, function (i, v) {
                        $("#Provider").append($('<option/>', { value: v.value, text: v.value }));
                    });
                })

                $.getJSON("/Search/GetNameTypesSearchJson", { type: $("#TypeOfMaterial").val(), typename: $("#NameOfTypeMaterial").val(), manufacturer: $("#Manufacturer").val() }, function (d) {
                    $("#Provider").prop('disabled', false);
                    if ($("#TypeOfMaterial").val() == null) {
                        $("#Provider").empty();
                        $("#TypeOfMaterial").empty();
                        $("#NameOfTypeMaterial").empty();
                    }

                    $("#NameOfTypeMaterial").empty();

                    $("#NameOfTypeMaterial").append($('<option/>', { value: '@null', text: '--Не выбрано--' }));
                    $.each(d, function (i, v) {
                        $("#NameOfTypeMaterial").append($('<option/>', { value: v.value, text: v.value }));
                    });
                })

                $.getJSON("/Search/GetTypesSearchJson", { type: $("#TypeOfMaterial").val(), typename: $("#NameOfTypeMaterial").val(), manufacturer: $("#Manufacturer").val() }, function (d) {
                    $("#Provider").prop('disabled', false);
                    if ($("#TypeOfMaterial").val() == null) {
                        $("#Provider").empty();
                        $("#TypeOfMaterial").empty();
                        $("#NameOfTypeMaterial").empty();
                    }

                    $("#TypeOfMaterial").empty();

                    $("#TypeOfMaterial").append($('<option/>', { value: '@null', text: '--Не выбрано--' }));
                    $.each(d, function (i, v) {
                        $("#TypeOfMaterial").append($('<option/>', { value: v.value, text: v.value }));
                    });
                })
            }

        })
    })*@

</script>
